h1 {
    justify-content: center;
    text-align: center;
}

.flex {

    display: flex;
    justify-content: center;
}

.flex div {
    background-color: black;
    width: 100px;
    margin: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
}

a {
    color: white;
    background-color: black;

}

a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

img {
    justify-content: center;
    align-items: center;
    width: 200px;
}

img:hover {
    width: 250px;
}

table{
    width: 95%;

}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;

}

th, td{
    padding: 15px;
}

th{
    font-size: 20px;
    font-style: bold;
}

caption{
    font-size: 30px;
    font-family: Tahoma;
    font-weight: bold;
}
tbody tr:nth-child(odd){
    background-color: #cccccc;

}
tbody tr:hover{
    background-color: #000000;
    color: #ffffff;

}

tfoot tr{
    text-align: center;
    background-color: #cfcfcf;
}
